/*region flex */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}

.gap-2 {
  gap: 10px;
}

/* endregion flex */

/* region margins */
.mb-2 {
  margin-bottom: 1rem;
}
/* endregion margins */

.list-unstyled {
  list-style-type: none;
}
